.navbar{
	background-color:maroon;
}
.col-sm-6{
	background-color:grey;
	color:black;
	border:1px solid black;
	font-size:20px;
	padding:5px;
	margin-bottom:5px;
}
#mainpic{
	width:80%
}
img#friends{
	margin-left:15%;
	margin-bottom:100px;
	width:70%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
.jumbotron{
	background-color:maroon;
	color:black;
}
#main{
	padding-top:40px;
}
#cast{
	background-color:maroon;
	color:black;
}
.col-lg-6{
	background-color:grey;
	padding:10px;
	/*font-size:16px;*/

}
#quotes{
	background-color:maroon;
}
.container{
	color:black;
}